/* Universal Styles */

body {
  color: #325050;
  background: #fff;
  font-family: 'Libre Baskerville', sans-serif;
}

/* header */

header {
  background-image: url(../images/banner.jpeg);
}

.main {
  display: flex;
  flex-direction: row;
  height: 16rem;
  border-top: solid .7rem rgba(19, 67, 71, 0.9);
  padding: 1.4rem 0 4.4rem 0;

  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  color: #fff;
  padding: 0 10%;
}
h1 {
  padding-bottom: 5px;
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  font-size: 3.2rem;
}

h2 {
  padding-top:.4rem;
  padding-bottom: 1.8rem;
  color: rgba(255,255,255,0.6);
  font-style: italic;
  font-size: 1.6rem;
}
