/* Universal Styles */

body {
  color: #325050;
  background: #fff;
  font-family: 'Libre Baskerville', sans-serif;
}

/* header */

header {
  background-image: url(../images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
  border-top: solid .7rem rgba(19, 67, 71, 0.9);
  padding: 1.4rem 0 4.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: solid 3px black;
  height: 16rem;
  padding: 1.4rem 0 4.4rem 0;
  : 50%;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 5rem;
  height: 5rem;
}
h1, h2 {
  color: #fff;
  padding: 0 10%;
}
h1 {
  padding-bottom: 5px;
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  font-size: 3.2rem;
}

h2 {
  padding-top:.4rem;
  padding-bottom: 1.8rem;
  color: rgba(255,255,255,0.6);
  font-style: italic;
  font-size: 1.6rem;
}

/* First Section */
